* {
  box-sizing: border-box;
}
header {
  background-color: #341e22;
  position: sticky;
  top: 0;
  z-index: 50;
}
.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
  
}
.logo {
  text-align: center;
}
.header-row {
  height: 80px;
  align-items: center;
}
.sliderimage {
  width: 100%;
}
.row2 {
  display: flex;
  margin: 10px 0px 10px 0px;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
/* нужно прописать подобным образом как для .col-xs-1 только от 1 до 12ти */
.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
}


/*mobile xs*/
@media (max-width: 767px) {
  .col-xs-hidden {
    display: none;
  }
  nav {
    overflow-x: scroll;
  }
  .about-title-text {
    font-size: 28px;
  }
  .team-title-text {
    font-size: 26px;
  }
  .topic-picture {
    width: 263px;
  }
}
/*tablet sm*/
@media (min-width: 768px) {
  .conteiner {
    max-width: 720px;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
   }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66664%;
    max-width: 66.66664%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}
/*laptop md*/
@media (min-width: 992px) {
  .conteiner {
    max-width: 960px;
  }
  .col-md-3{
    flex: 0 0 24.99999%;
    max-width: 24.99999%;
  }
  .col-md-4 {
    flex: 0 0 33.33332%;
    max-width: 33.33332%;
  }
  .col-md-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }
  .col-md-6{
   flex: 0 0 50%;
   max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}
@media (min-width: 1200px) {
  .conteiner {
    max-width: 1170px;
  }
}
.menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
.menu {
  list-style: none;
}
.menu li {
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid transparent;
  border-radius: 3px;
}
.menu li:hover{
  border: 2px solid #808889;
  border-radius: 3px;
}
.menu li:first-child {
  border: 2px solid #23b7a3;
  border-radius: 3px;
}

.menu a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #ad9c9b;
  text-transform: uppercase;
}
.about-title {
  height: 160px;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 160px;
}
.point {
  height: 36px;
  width: 10px;
  background-color: #e4cfd2;
  color: #e4cfd2;
  line-height: 160px;
}
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #998083;
  font-weight: normal;
  margin-bottom: 35px;
}
b {
  font-weight: bold;
}
.count {
  height: 50px;
  min-width: 50px;
  background-color: #39a493;
  color: white;
  margin-right: 20px;
  text-align: center;
  line-height: 50px;
}
.description {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #998083;
  font-weight: normal;
}
.topic {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #292f36;
  margin-bottom: 10px;
}
.social-icons {
  background-color: #ceb8bb;
  margin-right: 1px;
  margin-bottom: 25px;
}
.profile-box {
  width: 263px;
  background-color: #e1e6ea;
  position: relative;
  margin: 0 auto;
  margin-bottom: 25px;
}
.profile-box:hover {
  background-color: #4e3e45;
  color: white;
  display: block;
}
.profile-box:hover .row3 {
  display: block;
}
.profile-box:hover .position {
  color: white;
}
.name {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0px 5px 0px;
}
.position {
  font-size: 14px;
  color: #998083;
  font-weight: normal;
  text-align: center;
  margin: 5px 0px 0px 0px;
  padding-bottom: 15px;
}
.social-icons2 {
  background-color: #4e3e45;
  margin-right: 1px;
  margin-bottom: 25px;
}
.row3 {
  position: absolute;
  display: none;
  margin: 0px auto;
  top: 30%;
  left: 22%;
}
.work-box:hover .target {
  display: block;
}

.work-box:hover .topic-name {
  background-color: #4e3e45;
  color: white;
}
.work-box {
  position: relative;
  margin: 0 auto;
}
.target {
  position: absolute;
  display: none;
  margin: 0;
  top: 40%;
  left: 45%;
  right: 0;
  bottom: 0;
}
.target-icon {
  background-color: transparent;
}
.topic-name {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0px;
  padding-bottom: 20px;
}
.row5{
  display: flex;
  flex-wrap: wrap;
}
.topic-picture {
  width: 100%;
}
.lovely-work{
  background-color: #3a454d;
}
.button{
  text-align: center;
  width: 150px;
  height: 40px;
  
  margin: 0 auto;
  margin-bottom: 60px;
}
.showbtn{
  background-color: #3a454d;
  width: 100%;
  height: 100%;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  text-transform: uppercase;
}
.searchinput {
  width: 100%;
  height: 100%;

  background: transparent;
  color: #ad9c9b;
  border: 2px solid #ad9c9b;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
}
.servicelogo{
  text-align: center;
}
.servicetitle{
  text-align: center;
  margin: 15px 0;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}
.servicedescr{
  text-align: center;
  font-size: 16px;
  color: #b0b1b3;
}
.service{
  margin: 15px 0;
}
.features-section{
  background-color: #3a454d;
}
.featurestitle{
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 50px 0px 30px 0px;
}
.featuresdescr{
  font-size: 16px;
  color: white;
  margin-bottom: 120px;
}
.block{
  display: block;
  border: none;
  background-color: #eaeef1;
  height: 40px;
}
.input{
  width: 100%;
}
.textarea{
  width: 100%;
  margin-bottom: 20px;
  height: 120px;
}
.yourname{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  
}
.youremail{
  margin:20px 0px 20px 0px;
}
.modal{
  margin: 20px 0px 20px 0px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
}
.sendbtn-block{
  margin-left: -15px;
}
.sendbtn{
  width: 50%;
  height: 40px;
  border: 2px solid #23b7a4;
  border-radius: 5px;
  background-color: #23b7a4;
  color: white;
}
.contact-title{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
.contact{
  margin-bottom: 15px;
}
.social{
  line-height: 100px;
}
.s-icons{
  margin-top: 26px;
}
.footer{
  background-color: #3a454d;
  height: 100px;
  color: white;
  line-height: 100px;
}
.rowlast{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
main{
  font-family: 'Quattrocento Sans',
  sans-serif;
  
}
.home {
  color: #23b7a3;
}
/*
.header {
  padding: 25px 0px;
  background-color: #1d2126;
}
.col-md-6 {
  min-width: 50%;
}

.col-md-3 {
  align-self: flex-start;
}


@media (max-width: 425px) {
  .conteiner {
    max-width: none;
  }
  .searchbox {
    display: none;
  }
  .row {
    display: block;
  }
  .logo {
    text-align: center;
  }
  .col-md-6 {
    min-width: 425px;
  }
  .header {
    width: 100%;
  }
}

.menu {
  display: flex;
  justify-content: center;
}
.menu {
  list-style: none;
}
.menu li {
  width: 25%;
}
.menu li:first-child {
  border: 2px solid #23b7a3;
  border-radius: 3px;
  color: #23b7a3;
}
.menu a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #ad9c9b;
  text-transform: uppercase;
}
.searchinput {
  width: 100%;
  height: 100%;

  background: transparent;
  color: #ad9c9b;
  border: 2px solid #ad9c9b;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
}*/
